# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
*.yaml
!src/prompts_config/*.yaml
twitter_session.json
data/processed_tweets.txt
tests/ 
scripts0.2/
templates/

# Logs
*.log
logs/ 

# Test files and caches
.pytest_cache/
tests/__pycache__/
*.pyc
.coverage
htmlcov/
.tox/
tests/